.btn {
  background-color: #fff;
  border-color: #dbdbdb;
  border-radius: 6px;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  justify-content: center;
  padding: 9px 20px;
  text-align: center;
  white-space: nowrap;
}

.btn:disabled {
  cursor: not-allowed;
}

.btn:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

.btn:active {
  transform: scale(0.99);
}

.btn:disabled {
  opacity: 0.5;
}

.add-task {
  background-color: $green;
  border: 0;
  color: $light;
  font-size: 20px;
  margin: 10px 0 0 0;
}

.add-task:hover {
  border-color: $green;
  box-shadow: 0 0 0 0.125em rgba(0, 209, 178, 0.25);
}

.flag {
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}
