* {
  box-sizing: border-box;
}

body {
  background-color: $steel;
  color: $light;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h4 {
  margin: 0;
}

.img-responsive {
  max-width: 100%;
  width: 100%;
}
