.main-header {
  background-color: $steelLight;
  display: flex;
  min-height: 50px;
}

.logo {
  align-items: center;
  display: flex;
  padding: 3px;
  width: 90px;
}

.header-category {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 115px;
}

.header-category.active {
  background-color: $steel;
}
